html, body {
	height: 100%;
	background-color: #1c1d26;
	color: rgba(255,255,255,0.9);
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.75em;
	margin-top: 0px;
}

h1, h2{
	font-family: "Adobe Garamond Pro", Georgia, serif;
	text-align: center;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.6em;
}

.context.span1 p {
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 1.35em;
}
img.alpha_img {
	width: 1px;
	height: 100%;
	vertical-align: middle;
}



.wrapper,
.container {
	height: 100%
}

.content {
	width: 75%;
	height: 35%;
	margin-right: auto;
	margin-left: auto;
}

.span1 {
	width: 100%;
	height: 100%;
	margin-top: 0.83em;
}

.img.span1{
	height: 320px;
	width: 320px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	float: left;
	margin-left: 10%;
	border: 1px solid #fff;
}

.img.span1 img {
	width: 50%;
	vertical-align: middle;
}
.context.span1 {
	float: right;
	width: 45%;
	margin-right: 10%;
	border: 1px solid #fff;
}



